window {
        background-color: rgba(0, 0, 0, 1);
}

#outer-box {
	margin: 0px;
	background-color: rgb(0,0,0);
}

#inner-box {
	background-color: rgba(0, 0, 0, 1);
	padding: 5px;
	margin: 5px
}

button, image {
	background: none;
	border-width: 2px;
	box-shadow: none
}

button {
	padding-left: 10px;
	padding-right: 10px;
	margin: 5px
}

button:hover {
	background-color: rgba(255, 0, 0, 1);
}
